@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

:root {
  --primary-color: #fffbf6;
  --secondary-color: #ffeacb;
  --tertiary-color: #ff9d2a;
  --text-color: #1e1e1e;
  --hover-color: #fff3e2;
  --hover-dark-color: #ad6315;
  --hover-button-color: #ad6315;
  --swiper-navigation-color: var(--tertiary-color);
  --black: #000000;
  --white: #ffffff;

  --normal-font-size: 22px;
  --h2-font-size: 36px;
  --h1-font-size: 58px;

  --tablet-normal-font-size: 17px;
  --tablet-h2-font-size: 28px;
  --tablet-h1-font-size: 45px;
}

.title-maj {
  font-family: 'Chewy';
  font-size: 58px;
  line-height: 75.8px;
}

.h2-maj {
  font-family: 'Chewy';
  font-size: 40px;
  line-height: 100%;
}

.bold-maj {
  font-family: 'Dongle';
  font-size: 32px;
  line-height: 70%;
  letter-spacing: -1px;
  font-weight: 700;
}

.body-maj {
  font-family: 'Dongle';
  font-size: 32px;
  line-height: 70%;
  letter-spacing: -1px;
  font-weight: 300;
}

.button-maj {
  font-family: 'Dongle';
  font-size: 40px;
  line-height: 70%;
  letter-spacing: -1px;
  font-weight: 700;
}

@media (max-width: 600px) {
  .title-maj {
    font-size: 50px;
    line-height: 64px;
  }

  .h2-maj {
    font-size: 34px;
    line-height: 100%;
  }

  .bold-maj {
    font-size: 27px;
    line-height: 70%;
    letter-spacing: -1px;
  }

  .body-maj {
    font-size: 27px;
    line-height: 70%;
    letter-spacing: -1px;
  }

  .button-maj {
    font-size: 40px;
    line-height: 70%;
    letter-spacing: -1px;
  }
}

body {
  font-family: 'Lato', 'sans-serif';
  font-weight: 300;
  background-color: var(--primary-color);
  color: var(--text-color);
  overflow-x: hidden;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: 700;
  color: var(--tertiary-color);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: 700;
  color: var(--tertiary-color);
}

p,
ul {
  font-size: var(--normal-font-size);
  font-weight: 300;
  text-align: justify;
}

@media (max-width: 1220px) {
  h1 {
    font-size: var(--tablet-h1-font-size);
  }

  h2 {
    font-size: var(--tablet-h2-font-size);
  }

  p,
  ul {
    font-size: var(--tablet-normal-font-size);
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: var(--tablet-h2-font-size);
  }
}
